src/main/generated/resources/wsdl/BookService_schema1.xsd

<xs:schema xmlns:tns="http://ws.hedasoft.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.hedasoft.es/" version="1.0">

  <xs:element name="book" type="tns:book"/>

  <xs:element name="getBook" type="tns:getBook"/>

  <xs:element name="getBookResponse" type="tns:getBookResponse"/>

  <xs:complexType name="getBook">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string"/>
      <xs:element minOccurs="0" name="editorial" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
